                 <div class="jumbotron">
                  <h1 class="mb-4">Welcome to Extreme</h1>
                  
                  <p class="lead">This applications will help you administers several aspects of running the youth group. It will be a repository for all your programs, events, activities and much more.</p>
                  
                  
                  <p class="lead"><a class="btn btn-primary btn-lg mt-2" href="#" role="button">Learn more</a></p>
                </div>