<!DOCTYPE html>
<html lang="en">

<head>

  <title>The Title</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
  </script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
  </script>
  <link type="text/css" rel="stylesheet" href="file:///Users/Rickman/myapp/app/assets/stylesheet/simple-sidebar.css" />
  
</head>
<!--  <script type="text/javascript" src="js/mdb.min.js"></script> -->
<body>
<h1>jeff</h1>
<h2 class="wrapper">London</h2>
<p>London is the capital of England.</p>
<h2 class="page-content-wrapper">London</h2>
    <p>London is the capital of England.</p>

<div id="simple-sidebar=">
  <p>rance</p>
  <h2 class="page-content-wrapper">London</h2>
    <p>London is the capital of England.</p>
    <%= yield %>
</div>
</body>

</html>








