<h1> welcome index </h1>

<%= render partial: 'partials/jumbo'%>



<div class="form-style-9"

<h2>Test Cards</h2>
<div>
<a href="/programs" >
            <img src="song.jpg" alt="song" class="circle float-left profile-photo" width="210" height="auto">
</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a  href="/programs" >
            <img src="game.jpg" alt="game" class="circle float-right profile-photo" width="210" height="auto">
</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/programs" >
            <img src="craft.jpg" alt="craft" class="circle float-left profile-photo" width="210" height="auto">
</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/programs" >
            <img src="outing.jpg" alt="outing" class="circle float-right profile-photo" width="200" height="auto">
</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a  href="/programs" >
            <img src="lesson.jpg" alt="lesson" class="circle float-left profile-photo" width="200" height="auto">
</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a  href="/programs" >
            <img src="recipe.jpg" alt="recipe" class="circle float-left profile-photo" width="200" height="auto">
</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>

</div>








              
