<h1> Blog Posts </h1>
<% @posts.each do |post| %>

<!-- for each instance of posts object  - create a temp variable post and  put the  contents on the page  -->

<div class='well'> 

    <h3><%= post.title %></h3>
    <p><%= post.body %></p>

    <%= link_to "Read More", post_path(post), :class => 'btn btn-default' %>
<!--# => <a href="/">Home</a>  -->

</div>

<% end %>
